<div>
    <div class="mb-3 mt-3 form-item">
        {{ form_label(form.title, 'Название Продукта', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.title, {'attr' : {'class': 'form-control','placeholder':'Календарь-стандарт'}}) }}
        {% if form_errors(form.title) %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ form_errors(form.title) }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3 form-item">
        {{ form_label(form.slug, 'Ссылка на Продукт', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.slug, {'attr':{class: 'form-control','placeholder': 'Polygrafiya'}}) }}
        {% if form_errors(form.slug) %}
            <div class="alert alert-danger mt-3" role="alert">
                <span>{{ form_errors(form.slug) }}</span>
            </div>
        {% endif %}
    </div>
    <div class="mb-3 form-item">
        {{ form_label(form.short_description ,'Короткое описание', {'label_attr':{'class': 'form-label'}}) }}
        {{ form_widget(form.short_description, {'attr':{class: 'form-control','placeholder': 'Календарь...'}}) }}
        {% if form_errors(form.short_description) %}
            <div class="alert alert-danger mt-3" role="alert">
                <span>{{ form_errors(form.short_description) }}</span>
            </div>
        {% endif %}
    </div>
    <div class="mb-3 form-item">
        {{ form_label(form.description ,'Описание', {'label_attr':{'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr':{class: 'form-control','placeholder': 'Полиграфия специализируется...',rows:'3',cols : '50'}}) }}
        {% if form_errors(form.description) %}
            <div class="alert alert-danger mt-3" role="alert">
                <span>{{ form_errors(form.description) }}</span>
            </div>
        {% endif %}
    </div>
    <div class="mb-3 form-item">
        {{ form_label(form.category_id ,'Категория', {'label_attr':{'class': 'form-label'}}) }}
        {{ form_widget(form.category_id, {'attr':{class: 'form-select'}}) }}
        {% if form_errors(form.category_id) %}
            <div class="alert alert-danger mt-3" role="alert">
                <span>{{ form_errors(form.category_id) }}</span>
            </div>
        {% endif %}
    </div>

    <div class="mb-3 form-item">
        <div class="form-check form-switch">
            {{ form_widget(form.is_active,{'attr':{'class': 'form-check-input', 'id': 'flexSwitchCheckDefault'}}) }}
            {{ form_label(form.is_active,'Активен?',{'label_attr' : {'class':'form-check-label'}}) }}
        </div>
    </div>
    <div class="mb-3 form-item">
        <div class="d-flex gap-2">
            <div>
                {{ form_widget(form.submit, {'attr':{class: 'btn btn-primary'},'label':'Создать'}) }}
            </div>
            <div>
                {% if product.id %}
                <form method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Вы дейстивительно хотите удалить этот продукт?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                    <button class="btn btn-danger">Удалить</button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>

