{% extends 'admin.html.twig' %}

{% block title %}Hello PropertiesController!{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap gap-2 align-items-center justify-content-between mb-3">
        <div>
            <h1 class="h3 mb-0">Список характеристик</h1>
            <div class="text-muted small">Управление характеристиками</div>
        </div>
        {% if errorMessage is defined %}
            <div class="alert alert-danger" role="alert">
                <div class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>
            </div>
        {% endif %}
        <div class="d-flex gap-2">
            <a href="{{ path('admin_properties_create') }}" class="btn btn-primary">
                <i class="bi bi-plus-lg me-1"></i>
                Добавить
            </a>
        </div>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                    <tr>
                        <th style="width: 80px;">ID</th>
                        <th>Название</th>
                        <th class="text-end" style="width: 120px;">Действия</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for property in properties %}
                        <tr>
                            <td class="text-muted">{{ property.id }}</td>

                            <td class="fw-semibold">
                                <a href="{{ path('admin_properties_edit',{id: property.id }) }}">{{ property.name }}</a>
                            </td>

                            <td class="text-end">
                                <div class="btn-group" role="group" aria-label="Действия">
                                    <a href="{{ path('admin_properties_edit', {id: property.id}) }}"
                                       class="btn btn-sm btn-outline-primary"
                                       title="Редактировать"
                                       aria-label="Редактировать">
                                        <i class="bi bi-pencil"></i>
                                    </a>

                                    <form method="post"
                                          action="{{ path('admin_properties_delete', {id: property.id}) }}"
                                          class="d-inline"
                                          data-controller="category"
                                          onsubmit="return confirm('Удалить категорию «{{ property.name }}»?');">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ property.id) }}">
                                        <button class="btn btn-sm btn-outline-danger"
                                                title="Удалить"
                                                aria-label="Удалить"
                                                data-action="click->category#greet"
                                        >
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center text-muted py-4">
                                Характеристик пока нет
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
