{% extends 'admin.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}
